# Ignore node_modules directory
node_modules/

# Ignore .DS_Store (macOS Finder metadata files)
.DS_Store

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore npm-debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
